<!-- song.ejs -->
<!DOCTYPE html>
<html lang="it" class="h-100" >
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>SpotifyStats</title>
  </head>
  <body class="h-100 m-0" style="background-color:#191414;
  display: flex;
  justify-content: center;
  align-items: center;">
    <div class="container-fluid">
      <div class="row">
        <div class="col sticky-top vh-100 d-flex align-items-center" style="background-color:#191414; border-style: solid; border-width: 0 5px 0 0; border-color: #1DB954;">
          <nav class= "w-100">
            <div class = "fw-bold text-center" style="color:#ffffff;">
              <p style="font-size: 42px;" >SpotifyStats<img src="/images/logo.png" width="75" height="75" ></p>
            </div>
          </nav>
        </div>
        <div class="col-10 p-0">
          <nav class="navbar navbar-expand-lg p-0" style="z-index:1; background-color:#191414;">
            <div class="collapse navbar-collapse justify-content-md-center py-2" style="font-size: 18px;">
              <ul class="navbar-nav align-middle fw-bold">
                <li class="nav-item">
                  <a class="nav-link" style="color:#ffffff;" href="/" >Home</a>
                </li>
                <li class="nav-item mx-3">
                  <form method="POST" action="/search" class="form-inline">
                    <input name="name" class="form-control text-center" type="search" placeholder="Search by name..." aria-label="Search" style="color:#191414 ;">
                  </form>
                </li>
              </ul>
            </div>
          </nav>

          <div style="height: 60%;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          background-image: radial-gradient( circle 602px at 2.1% 5.1%, #1DB954 0%, rgba(0, 0, 0, 1) 90.1%);" class="card">
            <div class="image">
                <img height="100px" width="100px" src="/images/logo.png" alt="Immagine" style="    height: 100px;
                margin: 10px 20px;
                border-radius: 10px;
                box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);">
            </div>
            <div class="content" style="    color: #ffffff;">
            </div>
        </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>